$color-off-white: #fafafa;
$color-grey-dark: #373a3f;
$color-grey-light: #d0d5dd;

$color-blue-dark: #182375;
$color-blue-medium: #01678e;
$color-blue-light: #00d3ef;
$color-yellow-light: #ffd400;
$color-yellow-gold: #ffbb00;
