[class^="form"] {
  margin: 2rem 0;

  .divider {
    overflow: hidden;

    span {
      display: block;
      width: 30px;
      margin: 1rem auto;
      text-align: center;
      position: relative;
      font-size: 0.8rem;

      &:before,
      &:after {
        content: "";
        display: block;
        width: 300px;
        border-bottom: 1px solid $color-grey-light;

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
      &:before {
        right: 30px;
      }
      &:after {
        left: 30px;
      }
    }
  }
}
