.welcome-banner,
.welcome-content {
  height: 100%;
  display: flex;
  align-items: center;

  padding: 4rem;
  @media screen and (max-width: 800px) {
    padding: 2rem;
  }
}

.welcome-banner {
  color: $color-off-white;
  background-image: url("../images/background.jpeg");
  background-size: cover;

  position: relative;

  &__copy {
    position: relative;
    z-index: 2;
  }

  &:before,
  &:after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &:before {
    background: linear-gradient(
      45deg,
      rgba($color-blue-dark, 0.9),
      rgba($color-blue-medium, 0.9)
    );
  }

  &:after {
    background: linear-gradient(
      315deg,
      rgba($color-off-white, 0) 100px,
      rgba($color-off-white, 0.1) 100px,
      rgba($color-off-white, 0.1) 150px,
      rgba($color-off-white, 0) 150px,
      rgba($color-off-white, 0) 200px,
      rgba($color-off-white, 0.1) 200px,
      rgba($color-off-white, 0.1) 250px,
      rgba($color-off-white, 0) 250px,
      rgba($color-off-white, 0) 300px,
      rgba($color-off-white, 0.1) 300px,
      rgba($color-off-white, 0.1) 350px,
      rgba($color-off-white, 0) 350px,
      rgba($color-off-white, 0) 400px,
      rgba($color-off-white, 0.1) 400px
    );
  }
}

.welcome-content {
  background-color: $color-off-white;
  color: $color-grey-dark;
}
